@font-face {
  font-family: a4;
  src: url(/assets/font/A4SPEED-Bold.ttf);

}
@font-face {
  font-family:poppins;
  src: url(/assets/font/Poppins-Regular.ttf);

}
@font-face {
  font-family:OTFT SM ;
  src: url(/assets/font/OutfitSemiBold.ttf);
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #F1F6F9;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .logo {
  display: flex;
  align-items: center;
  margin-left: 75px;
}
.header .logo img {
  height: 40px;
  margin-right: 10px;
}
.header .logo span {
  font-size: 24px;
  font-weight: bold;
}
.header nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
.search-container {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  width: 124;
  height: 24;
}
.search-container i {
  color: #2c3e50;
  font-size: 16px;
}
.search-container input {
  border: none;
  outline: none;
  margin-left: 10px;
  font-size: 18px;
  color: #2c3e50;
}
.search-container .filter-icon {
  margin-left: auto;
  font-size: 24px;  
  color: #2c3e50;
}

.header .contact {
  background-color: #394867;
  color: #fff;
  padding: 10px 20px;
  border-radius: 19px;
  text-decoration: none;
  margin-right: 30px;
}
.main-banner {
  background-color: #a3b1c6;
  display: flex;
justify-content: center;

}
.lucu {
  margin-top: 150px;
  width: 610px;
  margin-left: 110px;
  text-align: justify;
}
.main-banner .lucu h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 100;
  font-family: a4;

  color: #000;
}
.main-banner .lucu p {
  font-size: 24px;
  margin: 10px ;
  font-family: OTFT SM;
}
.main-banner .lucu button {
  background-color: #394867;
  color: #fff;
  padding: 10px 20px;
  border: none; 
  border-radius: 36px;
  font-size: 18px;
  font-family: OTFT SM;
}
.main-banner img {
  max-width: 100%;
  height: auto;   
  margin-left: 150px;
}

.nabil {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.brands {
  padding: 50px 20px;
  background-color: #F1F6F9;
}
.brands .brand {
  max-width: 250px;
  height: 200px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-family: poppins;
}

.brands .brand img {
  height: auto;
  margin-bottom: 10px;
}
.brands .brand p {
  font-size: 16px;
}
.products {
  padding: 10px 20px;
  text-align: right;
  width: 100%;
}
.products h2 {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 80px;
  font-family: a4;
  margin-left:100px ;
  margin-top:10px ;
}
.products .product-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding: 30px;
}
.products .product {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: 300px;
  text-align: left;
}
.products .product img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.products .product h3 {
  font-size: 18px;
  margin: 10px 0;
}
.products .product p {
  font-size: 16px;
  margin: 5px 0;
}
.products .product button {
  background-color: #394867;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 220px;
}

.borderrogxeva{
  padding: 0;
  background-color: #80000B;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-collab {

  display: flex;
  justify-content: center;
  gap: 100px;
  background-color: #461616;


}
.prodcol {
  background-color: #2D0202;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 40px;
  width: 300px;
  text-align: left;
}
.prodcol img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.prodcol h3 {
  font-size: 18px;
  margin: 10px 0;
  color: #B51726;
}
.prodcol p {
  font-size: 16px;
  margin: 5px 0;
  color: #FFD654;
}
.prodcol button {
  background-color: #7DB329;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 220px;
}


.monhunt-container .monsterhunter {
  background: url(/assets/monhunt\ bg.jpeg)no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
}
.icon-monthunt img{
  width: 250px;
  margin-left: 1300px;
  
}
.vga-monhunt {
  display: flex;
  justify-content: center;
  padding: 200px;

  flex-direction: row;
}

/* footer */
footer {
  height: 100%;
  width: 100%;
  background: #212A3E;
  text-decoration: none;
  list-style: none;
  font-family: 'Work Sans', sans-serif;
}

section {
  padding: 100px 13% 70px;

}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, auto));
  gap: 3.5 rem;
  background: #212A3E;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer-content{
  margin-right: 70px;
  color: #fff;
}

.footer-content h2 {
  font-weight: bolder;
  
}

.footer-content h4{
  color: #fff;
  margin-bottom: 1.5rem;
  font-size: 20px;
}

.footer-content li{
  margin-bottom: 16px;
}

.footer-content li a {
  display: block;
  color: #d6d6d6;
  text-decoration: none;
  list-style: none;
  font-size: 15px;
  font-weight: 400;
  transition: all .40s ease;
}


.footer-content li a:hover {
  transform: translateY(-3px) translateX(-5px);
  color: #fff;
}

.footer-conter p {
  color: #d6d6d6;
  font-size: 16px;
  line-height: 30px;
  margin: 20px 0;
}

.icon-foot a{
  display: inline-block;
  font-size: 22px;
  color: #d6d6d6;
  margin-right: 17px;
  transition: all .40s ease;
}

.icon-foot a:hover {
  color: #fff;
  transform: translateY(-5px);
}